/////FAQS

//Faqs_Page#
#faqs_page {
  width: 100%;
  height: 330px;
  background: linear-gradient(to bottom, rgba(34,53,85,0.6), rgba(34,53,85,0.6)),url("https://via.placeholder.com/1920x330");
  @include bg-size(cover);
  background-position: center;
  position: relative;
  //page_text
  .page_text {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    h6 {
      font-family: $one-family;
      @include weight(700);
      line-height: normal;
      text-transform: capitalize;
      font-size: 35px;
      color: $secondary-color;
    }
    ul {
      padding-top: 10px;
      li {
        display: inline-block;
        a {
          font-family: $two-family;
          @include weight(400);
          text-transform: capitalize;
          line-height: normal;
          font-size: $large-size;
          color: $base-color;
        }
      }
      span {color: $base-color;}
    }
    //Notebook
    @include notebook {text-align: center;}
    //Tablet
    @include tablet {
      h6 {font-size: 25px;}
      ul {
        li {
          a {font-size: $regular-size;}
        }
      }
    }
    //Mobil
    @include mobil {
      h6 {font-size: 18px;}
      ul {
        li {
          a {font-size: $small-size;}
        }
      }
    }
  }
}

//Our_Faqs#
#our_faqs {
  width: 100%;
  padding: 100px 0;
  //title
  .title {
    text-align: center;
    h6 {
      font-family: $one-family;
      @include weight(700);
      font-size: 45px;
      line-height: normal;
      color: $secondary-color;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -45px;
        left: 0;
        right: 0;
        width: 108px;
        height: 26px;
        margin: 0 auto;
        background-image: url("../../img/before.png");
      }
    }
    p {
      padding-top: 70px;
      font-family: $two-family;
      @include weight(400);
      font-size: $regular-size;
      color: $three-color;
      line-height: 18px;
    }
    //Notebook
    @include notebook {
      h6 {font-size: 35px;}
    }
    //Tablet
    @include tablet {
      h6 {font-size: 25px;}
    }
    //Mobil
    @include mobil {
      h6 {font-size: 18px;}
      p {font-size: $small-size; line-height: 16px;}
    }
  }
  //our_faqs
  .our_faqs {
    padding-top: 50px;
    //&_item
    &_item {
      position: relative;
      z-index: 1;
      border: 1px solid $primary-color;
      //faqs_title
      .faqs_title {
        padding: 15px 45px;
        @include flex;
        @include align-items(center);
        line-height: normal;
        font-size: $large-size;
        color: $primary-color;
        font-family: $one-family;
        @include weight(500);
        position: relative;
        &::after {
          position: absolute;
          top: 0;
          left: 20px;
          z-index: 1;
          @include flex;
          @include align-items(center);
          height: 100%;
          content: '\e803';
          font-family: "lawe-font";
          color: $secondary-color;
          @include weight(bold);
        }
      }
      //faqs_content
      .faqs_content {
        color: $three-color;
        line-height: 19px;
        max-height: 0;
        overflow: hidden;
        font-size: $regular-size;
        @include transition(0.3s);
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        &:checked + .faqs_title {
          border-bottom: 1px solid $primary-color;
          &::after {
            content: "\e809";
          }
          & + .faqs_content {
            max-height: 700px;
            padding: 30px;
          }
        }
      }
      //Tablet
      @include tablet {
        //faqs_title
        .faqs_title {
          font-size: $regular-size; padding: 15px 35px;
          &::after {left: 10px;}
        }
        input {
          &:checked + .faqs_title {
            & + .faqs_content {
              padding: 15px;
            }
          }
        }
      }
      //Mobil
      @include mobil {
        //faqs_title
        .faqs_title {
          font-size: $small-size; padding: 10px 27px;
          &::after {left: 10px;}
        }
        input {
          &:checked + .faqs_title {
            & + .faqs_content {
              padding: 15px;
              font-size: 12px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }
}